alias mount_phone="simple-mtpfs mnts/gd -o enable-move -o allow_other"
alias unmount_phone="fusermount -u mnts/gd"
alias ff="firefox"
alias ghc="stack ghc"
alias ghci="stack ghci"
alias todo="tmux new-session -s todo taskell \; new-window taskell taskell-phd.md"
alias nopath="PS1='$ '"
alias pvim="nvim -i NONE --cmd 'set noswapfile' --cmd 'set nobackup'"
alias practice="cat > /dev/null"
alias idle="tmux new-session -s idle nvim . \; split-window -h ipython \; split-window -v"
alias xrdb="xrdb -I/home/kelvin ~/.Xresources"
alias se="script-edit"
alias sc="sc-im"
alias epdfs="exec pdfs"
alias notepad=leafpad
alias pm='pulsemixer'
alias cal3='cal --three'
alias zathura='zathura --fork'
